// Override default variables before the import
$body-bg: none;

html {
	background: url('/chain-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background-color: none;
}

.wrapper {
}

.main-container {
	border-radius: 10px;
	margin: 20px auto auto;
	padding: 40px 80px;
	background-color: rgba(255, 255, 255, 0.7);
}

.main-title {
}

.destination-field {
	margin: 0 0 20px;
}

.alert-success {
	margin-top: 40px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
